@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("../fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/woff/IRANSansX-Regular.woff") format("woff"),
    url("../fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  background: #fff;
  font-size: 17px;
  text-align: right;
  font-family: "IRANSansX";
  padding: 0;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  direction: rtl;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
li {
  list-style: none;
}
.img-slider {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  color: #fff;
}
.img-slider p {
  font-size: 18px;
}
.font-weight-bold {
  font-weight: bold !important;
}
.bg-header {
  background-image: url("../img/1.jpg");
  width: 100%;
  height: 670px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper {
  width: 600px;
  height: 300px;
}
/* swap table */
.swap-box-table {
  direction: rtl;
  background: #352a57;
  border-radius: 12px;
  overflow-x: auto;
  /* height: 450px; */
}
.swap-box-table table {
  background: none;
}
.custom-table {
  background-color: #001952;
  border-radius: 6px;
  margin: 0;
}
.swap-box-table table * {
  text-align: center;
  border: none !important;
  font-size: 15px;
}

.swap-box-table thead {
  width: calc(100% - 1.1 em);
}
.custom-table thead,
.custom-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.custom-table thead th,
.custom-table tbody td {
  color: #fff;
  font-weight: 400;
  font-weight: 300;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 160px;
  text-align: center;
}

.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.swap-box-table .custom-table tbody {
  display: block;
  /* max-height: 260px; */
  overflow-y: auto;
}
.custom-table thead,
.custom-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.custom-table tbody tr td:first-child {
  width: 50px;
}
/* 
.swap-box-table table td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
} */
.custom-table tbody tr td:nth-child(2) p {
  text-align: center;
}
.swap-box-table .custom-table tbody th,
.swap-box-table .custom-table tbody td {
  width: auto;
}
.swap-box-table table td {
  direction: ltr;
}
.custom-table thead th,
.custom-table tbody td {
  color: #fff;
  font-weight: 400;
  font-weight: 300;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  width: 100px;
  text-align: center;
}
.spacer {
  border: 5px solid red;
}
/* swap table */

.sparkline {
  fill: none;
}

.sparkline--red {
  stroke: #dc2b33;
}

.sparkline--red.sparkline--filled {
  fill: rgba(220, 43, 51, 0.3);
}

.sparkline--blue {
  stroke: #3d85de;
}

.sparkline--blue.sparkline--filled {
  fill: rgba(61, 133, 222, 0.3);
}

.sparkline--green {
  stroke: #4c9b4c;
}

.sparkline--green.sparkline--filled {
  fill: rgba(76, 155, 76, 0.3);
}

.sparkline--gray {
  stroke: #777;
}

.sparkline--gray.sparkline--filled {
  fill: rgba(119, 119, 119, 0.3);
}

.sparkline--orange {
  stroke: #e36023;
}

.sparkline--orange.sparkline--filled {
  fill: rgba(227, 96, 35, 0.3);
}

.sparkline--purple {
  stroke: #573585;
}

.sparkline--purple.sparkline--filled {
  fill: rgba(87, 53, 133, 0.3);
}

.sparkline--yellow {
  stroke: #fdd700;
}

.sparkline--yellow.sparkline--filled {
  fill: rgba(253, 215, 0, 0.3);
}

.sparkline--pink {
  stroke: #db3b9e;
}

.sparkline--pink.sparkline--filled {
  fill: rgba(219, 59, 158, 0.3);
}
/* Sparkline table */

/* custom table */
.buy-sell {
  background-color: #36cbfc;
  border-radius: 5px;
}
.buy-sell a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
/* custom table */

.card-sample {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #091945;
  border-radius: 24px;
  padding: 20px;
  height: 150px;
  margin-top: 25px;
}
.card-sample img {
  margin-right: 10px;
}
.card-sample .col-md-7:nth-child(1) span {
  background-color: #8916ff;
  border-radius: 5px;
  padding: 1px 4px;
  color: #fff;
}
.card-sample .col-md-7:nth-child(1) p {
  text-align: left;
  color: #fff;
}
.text-sample {
  color: #333;
}
.select-hi-bg {
  position: relative;
  background-image: url("../img/sdsf.png");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  direction: rtl;
}
.select-hi-text p,
.select-hi-text h1 {
  color: #fff;
}
.select-hi-card {
  margin-top: 3rem;
}
.select-hi-card > div {
  background: white;
  text-align: center;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  max-width: 23%;
  flex: 0 0 23.233333% !important;
}
.select-hi-card .col-md-2 img {
  margin-bottom: 20px;
}
.about-card-hi {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 40px;
  transition: all 0.5s ease-in;
}
.about-card-hi:hover {
  box-shadow: 0 0 10px 2px #eee;
  transition: all 0.3s ease-in;
}
.select-hi-card .col-md-2 p,
.about-card-hi p {
  color: #7026c5;
  font-weight: bold;
}
.select-hi-card .col-md-2 span,
.about-card-hi span {
  color: #7026c5;
  font-weight: 400;
  font-size: 15px;
}
.about-card-hi span {
  font-size: 13px;
}
.more-info-button {
  position: absolute;
  bottom: -20px;
  right: calc(50% - 65px);
}
.more-info-button button {
  background-color: #7026c5;
  border-radius: 25px;
  border: none;
  padding: 5px 16px;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 15px 0px #fff;
}

/* footer */
.site-footer {
  background-image: url("../img/footer.jpg");
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
}
.join-email .form-control {
  border-radius: 25px;
}
.join-email input::placeholder {
  text-align: center;
}
.join-email a {
  bottom: 0px;
  background-color: #727272;
  border-radius: 25px;
  padding: 5px 20px;
}
.site-footer a {
  color: #fff;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.site-footer .col-6 {
  margin: 5rem 0;
}
.site-footer .row {
  border-bottom: 1px solid #727272;
}
/* footer */

/* Desktop header css */

.nav-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
}

.nav-overlay.offcanvas-open {
  transform: translateX(0);
}

.desktop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(56, 165, 238, 0.5);
}

/* .logo-container {
  flex: 1;
  display: flex;
  align-items: center;
} */

.search-mobile {
  display: flex;
  align-items: center;
  border: 1px solid #3c3c3d;
  padding: 5px;
  border-radius: 5px;
}

.search-mobile span {
  color: #3c3c3c;
}

.nav-btn-menu {
  flex: 3;
  display: flex;
}

.nav-links-menu {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}

.btn-menu {
  display: inline-block;
  padding: 0.6rem 0.6rem;
  font-size: 0.8rem;
  /* border: 2px solid #fff; */
  border-radius: 5px;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

/* .btn-menu.solid,
.btn-menu.transparent {
  background-color: #65da3a;
  color: #000;
} */

.btn-menu {
  background-color: #65da3a;
  color: #000;
  font-weight: bold;
}

.btn-menu:hover {
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  height: 65px;
  width: 45px;
  box-shadow: 0 0 11px 3px #eee;
  border-radius: 5px;
}

.nav-links-menu > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-links-menu li {
  padding: 0.5rem 0;
}

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0 0.5rem;
  letter-spacing: 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.1);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 9rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  background-color: #65da3a;
  border-radius: 10px;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.dropdown-link:hover > a {
  color: #212121;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #3498db;
}

.dropdown-link {
  position: relative;
}

.dropdown.second {
  top: 0;
  right: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Desktop header css */

/* mobile menu */

/*Header Bottom Area*/

.header-bottom {
  background: #fff;
  position: relative;
  box-shadow: 0 3.4px 2.7px rgb(0 0 0 / 1%), 0 8.7px 6.9px rgb(0 0 0 / 1%),
    0 17.7px 14.2px rgb(0 0 0 / 1%), 0 36.5px 29.2px rgb(0 0 0 / 1%),
    0 100px 80px rgb(0 0 0 / 2%);
}

.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: #333;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  border-bottom: 0;
}

.main-menu {
  position: relative;
}

.main-menu nav > ul > li {
  position: relative;
  display: inline-block;
}

.main-menu nav > ul > .has-dropdown {
  margin-right: 5px;
}

.main-menu nav > ul > .has-dropdown:last-child {
  margin-right: 0;
}

.main-menu nav > ul > .has-megaitem {
  position: static;
}

.main-menu nav > ul > li > a {
  display: block;
  line-height: 24px;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
  color: #2a2a2a;
}

.main-menu nav > ul > li > a:hover,
.main-menu nav > ul > li > a.active {
  background: #261146;
  color: #fff;
}

.sub-menu > li > a,
.mega-menu-sub > li > a {
  font-weight: 400;
  display: block;
  line-height: 35px;
  text-transform: capitalize;
  color: #666;
  position: relative;
  transition: all 0.3s ease 0s;
}

.sub-menu > li > a::after,
.mega-menu-sub > li > a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(0px, -50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #261146;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.sub-menu > li > a:hover,
.mega-menu-sub > li > a:hover {
  color: #261146;
  transform: translateX(10px);
}

.sub-menu > li > a:hover::after,
.mega-menu-sub > li > a:hover::after {
  transform: translate(-10px, -50%);
  visibility: visible;
  opacity: 1;
}

.sub-menu {
  position: absolute;
  min-width: 230px;
  padding: 25px 20px;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-20deg);
  transform-origin: 0 0 0;
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 99;
  top: 100%;
  text-align: left;
}

.mega-menu {
  position: absolute;
  min-width: 100%;
  padding: 25px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-20deg);
  transform-origin: 0 0 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 99;
  top: 100%;
  text-align: left;
}

.mega-menu-inner {
  display: flex;
  justify-content: space-between;
}

.mega-menu-item-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 13px;
  color: #333;
}

.mega-menu-item-title:hover {
  color: #261146;
}

.mega-menu-sub > li {
  display: block;
}

.main-menu nav > ul > li:hover .sub-menu,
.main-menu nav > ul > li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}

.menu-banner {
  margin-top: 20px;
}

.menu-banner > a {
  display: block;
  width: 100%;
}

.menu-banner img {
  width: 100%;
}

.mobile-header-wrapper {
  padding: 10px;
}

.mobile-menu {
  padding: 5px;
  display: block;
  border-radius: 4px;
}

.mobile-menu-dash {
  display: block;
  width: 30px;
  height: 3px;
  background: #3c3c3c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobile-menu-dash:first-child {
  width: 20px;
}

.mobile-menu-dash:nth-child(even) {
  width: 30px;
}

.mobile-menu-dash:last-child {
  width: 15px;
}

/*****************************
Layout - Offcanvas
*****************************/

.offcanvas {
  z-index: 999999;
  position: fixed;
  top: 0;
  overflow: auto;
  height: 100vh;
  padding: 20px;
  transition: all 0.3s ease 0s;
  transform: translateX(100%);
  box-shadow: none;
  background: #fff;
  color: #eaeaea;
  width: 300px;
  overflow-x: hidden;
  box-shadow: 0 3.4px 2.7px rgb(0 0 0 / 1%), 0 8.7px 6.9px rgb(0 0 0 / 1%),
    0 17.7px 14.2px rgb(0 0 0 / 1%), 0 36.5px 29.2px rgb(0 0 0 / 1%),
    0 100px 80px rgb(0 0 0 / 2%);
}

.offcanvas-menu li a {
  text-align: right;
}

.offcanvas-leftside {
  right: 0%;
  transform: translateX(100%);
}

.offcanvas-rightside {
  right: 0%;
  transform: translateX(-100%);
}

.offcanvas.offcanvas-open {
  transform: translateX(0);
}

.offcanvas-open-overlay {
  transform: translateX(0%);
}

.offcanvas-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.offcanvas-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-close {
  text-align: center;
  background: #fff;
  transition: all 0.3s ease 0s;
  border: none;
}

.offcanvas-close:hover {
  color: #261146;
  border-color: #261146;
}

.offcanvas-title {
  margin-bottom: 40px;
}

/*mobile-menu Top Area*/

.mobile-menu-top {
  background-color: #1468da;
  font-size: 13px;
  /* display: inline-flex; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.mobile-menu-user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.mobile-menu-user-menu > li {
  margin-right: 40px;
  position: relative;
}

.mobile-menu-user-menu > li:last-child {
  margin-right: 0;
}

.mobile-menu-user-menu > li::after {
  position: absolute;
  content: "|";
  top: 50%;
  transform: translateY(-50%);
  right: calc(0% - 20px);
}

.mobile-menu-user-menu > li:last-child::after {
  display: none;
}

.mobile-menu-user-menu > li > a {
  display: inline-block;
  line-height: 46px;
  color: #666 !important;
}

.mobile-menu-user-menu > li > a:hover {
  color: #261146;
}

.has-mobile-user-dropdown {
  position: relative;
  padding-right: 15px;
}

.has-mobile-user-dropdown::before {
  content: "ï„‡";
  font-family: "FontAwesome";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: 400;
}

.mobile-user-sub-menu {
  position: absolute;
  top: calc(100%);
  left: 50%;
  transform: translate(-50%, -30px);
  padding: 10px 15px;
  width: 160px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.mobile-user-sub-menu > li {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

.mobile-user-sub-menu > li:last-child {
  border-bottom: none;
}

.mobile-user-sub-menu > li > a {
  position: relative;
  color: #666;
  display: flex;
  align-items: center;
}

.mobile-user-sub-menu > li > a:hover {
  color: #261146;
}

.user-sub-menu-link-icon {
  padding-right: 5px;
}

.has-mobile-user-dropdown:hover .mobile-user-sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}

.logo-mobile p {
  color: #3c3c3c;
  font-size: 25px;
  font-weight: bold;
}

.logo-mobile span {
  color: #65da3a;
}

.search-mobile .fa-search {
  color: #3c3c3c;
  font-size: 18px;
}

/*Mobile Menu Center Area*/

.mobile-menu-customer-support {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.mobile-menu-customer-support-icon {
  max-width: 50px;
  overflow: hidden;
  margin-right: 30px;
}

.mobile-menu-customer-support-icon img {
  width: 100%;
}

.mobile-menu-customer-support-text-phone {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  transition: all 0.3s ease 0s;
}

.mobile-menu-customer-support-text-phone:hover {
  color: #261146;
}

.mobile-menu-customer-support-text {
  font-size: 14px;
  margin: 20px 0;
}

.mobile-action-icon {
  display: flex;
  justify-content: center;
}

.mobile-action-icon-item {
  margin-right: 40px;
}

.mobile-action-icon-item:last-child {
  margin-right: 0;
}

.mobile-action-icon-link {
  position: relative;
  font-size: 27px;
  color: #333;
  transition: all 0.3s ease 0s;
}

.mobile-action-icon-link:hover {
  color: #261146;
}

.mobile-action-icon-item-count {
  position: absolute;
  top: 0;
  right: calc(0% - 10px);
  font-size: 11px;
  display: inline-block;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease 0s;
}

.mobile-action-icon-link:hover .mobile-action-icon-item-count {
  background: #261146;
}

/*Mobile Menu Bottom Area*/

.mobile-menu-bottom {
  text-align: center;
  background-image: linear-gradient(to top left, hsl(215deg 59% 31%), #1468da);
  padding: 10px;
  font-size: 12px;
  border-radius: 15px;
}

.offcanvas-menu {
  margin: 20px 0;
}

.offcanvas-menu li {
  position: relative;
  padding: 15px;
}

.offcanvas-menu > ul > li {
  border-bottom: 1px solid transparent;
}

.offcanvas-menu > ul > li:last-child {
  border-bottom: none;
}

.offcanvas-menu li a {
  display: block;
  color: #3c3c3c;
  text-decoration: none;
}

.offcanvas-menu li a:hover {
  color: #3c3c3c;
}

.offcanvas-menu li .mobile-sub-menu {
  display: none;
}

.offcanvas-menu-expand::after {
  content: "\f0d9";
  position: absolute;
  font-family: "FontAwesome";
  left: 0;
  transition: all 0.3s ease;
  color: #666;
}

.offcanvas-menu .active > .offcanvas-menu-expand:last-child,
.sub-menu > .active .offcanvas-menu-expand:last-child {
  border-bottom: none;
}

.offcanvas-menu .active > .offcanvas-menu-expand::after,
.sub-menu > .active .offcanvas-menu-expand::after {
  color: #777;
  content: "ï¨";
}

.mobile-menu-email {
  color: #999;
  text-align: center;
  display: block;
}

.mobile-menu-email:hover {
  color: #261146;
}

.mobile-menu-social {
  margin-top: 25px;
  text-align: center;
}

.mobile-menu-social > li {
  display: inline-block;
  margin-right: 13px;
}

.mobile-menu-social > li:last-child {
  margin-right: 0px;
}

.mobile-menu-social > li > a {
  display: inline-block;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  color: #fff !important;
}

.mobile-menu-social > li > a:hover {
  opacity: 0.7;
}

.mobile-menu-social > li > a.facebook {
  background: #4867aa;
}

.mobile-menu-social > li > a.twitter {
  background: #1da1f2;
}

.mobile-menu-social > li > a.youtube {
  background: #fe0000;
}

.mobile-menu-social > li > a.pinterest {
  background: #bd081b;
}

.mobile-menu-social > li > a.instagram {
  background: #b23a94;
}

.offcanvas-cart-item-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offcanvas-cart-item-single:last-child {
  margin-bottom: 0;
}

.offcanvas-cart-item-block {
  display: flex;
  align-items: center;
}

.offcanvas-cart-item-image-link {
  width: 90px;
  overflow: hidden;
  border: 1px solid #eee;
  margin-right: 20px;
}

.offcanvas-cart-image {
  width: 100%;
}

.offcanvas-cart-item-link {
  display: block;
  font-weight: 700;
}

.offcanvas-cart-item-details {
  font-family: "Raleway", sans-serif;
}

.offcanvas-cart-total-price {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.offcanvas-cart-total-price-text {
  font-weight: 700;
}

.offcanvas-cart-action-button-list {
  margin-bottom: 25px;
  display: block;
}

.offcanvas-cart-action-button-link {
  display: block;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-weight: 600;
}

.offcanvas-cart-action-button-link:hover {
  background: #261146;
  color: #fff;
}

.offcanvas-wishlist-item-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.offcanvas-wishlist-item-single:last-child {
  margin-bottom: 0;
}

.offcanvas-wishlist-item-block {
  display: flex;
  align-items: center;
}

.offcanvas-wishlist-item-image-link {
  width: 90px;
  overflow: hidden;
  border: 1px solid #eee;
  margin-right: 20px;
}

.offcanvas-wishlist-image {
  width: 100%;
}

.offcanvas-wishlist-item-link {
  display: block;
  font-weight: 700;
}

.offcanvas-wishlist-item-details {
  font-family: "Raleway", sans-serif;
}

.offcanvas-wishlist-total-price-text {
  font-weight: 700;
}

.offcanvas-wishlist-action-button {
  margin-top: 40px;
}

.offcanvas-wishlist-action-button-list {
  margin-bottom: 25px;
  display: block;
}

.offcanvas-wishlist-action-button-link {
  display: block;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.offcanvas-wishlist-action-button-link:hover {
  background: #261146;
  color: #fff;
}

/* mobile menu */
